		
button {
	margin: 5px;
	background-color: yellow;
	border: 4px solid grey;
	border-radius: 50px;
	height: 70px;
	width: 70px;
}
		
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height:100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('/template/img/back.jpg');
}
.wrap{
	width: 75vw;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
}
header{
	width: 100%;
	height: 20vh;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.5vh;
}
nav{
	display: flex;
	flex-wrap:wrap;
	min-width: 80%;
	justify-content: center;
	text-shadow: 1px 3px 4px black;
}
.enter{
	font-size: 2vh;
	display: flex;
	flex-direction: column;
	align-content: center;
}
nav li, .enter li, .pagination li{
	list-style: none;
	padding: 1vmax;
}
nav a, .enter a {
	text-decoration: none;
	color: white;
}
nav a:hover, .enter a:hover{
	color: #ff9999;
}
section{
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
footer{
	height: 10vh;
	text-align: center;
	color: #ebebe0;
}
.foto{
	min-width: 320px;
	width: 50%;
	margin: 0 auto;
	text-decoration: none;
	border:3px solid black;
}
.foto img{
	width: 100%;
}
.autor{
	text-align: center;
	padding: 1vw;
	font-family: 'Press Start 2P', cursive;
	font-size: 2vh;
	color: #323232;
}
.name{
	color:#4d9900;
	font-family: 'Rye', cursive;
	font-size: 2.5vh;
}
.pagination{
	display:inline-flex;
	width:auto;
	font-weight:900;
}
.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}
		/* Базовые стили формы */
form{
	flex-basis: 400px;
	margin:0 auto;
	box-sizing:border-box;
	padding:40px;
	border-radius:5px; 
	background:rgba(255,255,255,1);
	background-image: url('/template/img/hive.jpg');
	-webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
	box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
}
/* Стили полей ввода */
.textbox{
	height:50px;
	width:100%;
	border-radius:3px;
	border:rgba(0,0,0,.3) 2px solid;
	box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
	font-size:18px; 
	padding:10px;
	margin-bottom:30px;  
	}
.message:focus, .textbox:focus{
   outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}
/* Стили текстового поля */
.message{
	background: rgba(255, 255, 255, 0.4); 
	width:100%;
	height: 120px;
	border:rgba(0,0,0,.3) 2px solid;
	box-sizing:border-box;
	-moz-border-radius: 3px;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	display:block;
	padding:10px;
	margin-bottom:30px;
	overflow:hidden;
}
/* Базовые стили кнопки */
.button{
	height:50px;
	width:100%;
	border-radius:3px;
	border:rgba(0,0,0,.3) 0px solid;
	box-sizing:border-box;
	padding:10px;
	background: rgba(138, 43, 226, 0.7);
	color:#FFF;
	font-family: 'Open Sans', sans-serif;  
	font-weight:400;
	font-size: 16pt;
	transition:background .4s;
	cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
	background:rgb(0, 255, 255);
}
.conteiner{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;	
	padding: 10px;
	font-size: 20px;
}
.form{
	background-color:transparent;
}

.comment{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	background-color:#00FA9A;
}

.comment form,{
	padding: 8px;
}
.comment .textbox{
	margin: 4px auto;
}
#cont{
	max-height: 680px;
	overflow-y: auto;
	overflow-x: hidden;	
	color: #fff;
}

#addLikes{
	display:flex;
	justify-content:center;
	align-items: center;
	height: 30px;
	position:relative;
}
#addLikes img{
	height: 100%;
}
#addLikes img:hover{
	height: 120%;
}
#count{
	position: absolute;
	left: 49.5%;
}
plaintext{
	display:inline;
	word-wrap: break-word;
}		
#output{
	display:flex;
	flex-wrap:nowrap;
	overflow-x: auto;
}

.item{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items:center;
	min-width:50%;
}
video{
	transform: scaleX(-1);
	   -o-transform: scaleX(-1);
	   -ms-transform: scaleX(-1);
	   -moz-transform: scaleX(-1);
	   -webkit-transform: scaleX(-1);
}
.foto_ac{
	min-width: 320px;
	margin: 0 auto;
	text-decoration: none;
	border:3px solid black;
	height:auto;
	position:relative;
}
.active
{
	background-color: aqua;
	color: red;			
}
h2{
	text-align: center;
}
p{
	text-align: center;
}
.account
{
	display:flex;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-items: flex-end;
	max-height:calc(100vh - 100px);
	overflow-x: auto;

}
.user
{
	height: 500px;
	border: 1px solid black;
	margin: 10px;
	text-align: center;
}
.edit{
	margin: 10px auto;
}
.edit a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	background-color: #07b569;
	display: inline-block;
	padding: 8px 31px;
	border-radius: 5px;
}
.edit a:hover{
	background-color: #019c58;
}
.delete{
	height: 30px;
	width: 30px;
	position: absolute;
	left: 90%;
	bottom: 85%;

}
		



